{
  "machine": { "gpu": 1, "vram": 0, "cpu": 8000, "ram": 16000 },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": { "Concurrency": 1 },
      "Docker": {
        "Entrypoint": [
          "/app/src/run_model", {{ .request }}
        ],
        "Image": "devlinrocha/phi4-mini-3.8b@sha256:58c1cdf7f23d610fb31b856694b74e9b497a8c280aa24ee24f92fc604bf4f34c"
      },
      "Engine": "Docker",
      "Network": { "Type": "None" },
      "Outputs": [{ "Name": "outputs", "Path": "/outputs" }],
      "Resources": { "GPU": "1", "CPU": "8", "Memory": "16Gb" },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
